@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Courier New", Courier, monospace;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

img {
  width: 100%;
  display: block;
}

/* mobile */
.navBar-menu {
  background-color: black;
  color: whitesmoke;
  padding: 20px;
}

/* tablet */
@media (min-width: 769px) {
  .navBar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
ul {
  list-style: none;
}
ul a {
  position: relative;
  text-decoration: none;
  color: whitesmoke;
}

.menu {
  font-size: smaller;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu a:hover {
  color: whitesmoke;
}

@media (min-width: 1025px) {
  .menu a:after {
    content: "";
    position: absolute;
    background-color: tomato;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  .menu a:hover {
    color: tomato;
  }
  .menu a:hover:after {
    width: 100%;
  }
}
/* tablet */
@media (min-width: 481px) {
  .menu {
    font-size: medium;
    width: 100%;
    justify-content: space-around;
  }
}
@media (min-width: 769px) {
  .menu {
    font-size: large;
    width: 400px;
  }
}
/* desktop */
@media (min-width: 1025px) {
  .menu {
    font-size: larger;
    width: 500px;
  }
}
/* mobile */
.footer-container {
  background-color: black;
  color: whitesmoke;
  padding: 20px;
  font-size: small;
}
.footer-container .footerMenu {
  display: flex;
  justify-content: space-between;
  text-align: end;
}

@media (min-width: 769px) {
  .footer-container {
    font-size: medium;
  }
}
@media (min-width: 1025px) {
  .footer-container {
    font-size: large;
  }
}
/* tablet */
@media (min-width: 769px) {
  .footer-contact {
    text-align: center;
  }
}
.footerMenu a:hover {
  color: whitesmoke;
}

@media (min-width: 1025px) {
  .footerMenu a:after {
    content: "";
    position: absolute;
    background-color: tomato;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
  }
  .footerMenu a:hover {
    color: tomato;
  }
  .footerMenu a:hover:after {
    width: 100%;
  }
}
.contact {
  text-align: center;
}

.socials {
  text-align: center;
}

/* mobile */
.logo .name {
  font-size: x-large;
  display: flex;
  justify-content: center;
}

/* tablet */
@media (min-width: 769px) {
  .logo .name {
    font-size: xx-large;
  }
}
/* mobile */
.logo .artist {
  font-size: medium;
  text-align: center;
}

/* tablet */
@media (min-width: 769px) {
  .logo .artist {
    font-size: larger;
  }
}
/* mobile */
main {
  background-image: url(../imagenes/hero1.jpg);
  background-size: cover;
  height: 100vh;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  font-size: small;
}

/* tablet */
@media (min-width: 769px) {
  main {
    height: 100vh;
    font-size: medium;
  }
}
/* mobile */
.slogan {
  margin-top: 15%;
  margin-left: 1em;
  width: 50%;
  font-size: smaller;
}

/* tablet */
@media (min-width: 481px) {
  .slogan {
    font-size: small;
  }
}
@media (min-width: 769px) {
  .slogan {
    font-size: medium;
  }
}
/* desktop */
@media (min-width: 1025px) {
  .slogan {
    width: 40%;
    font-size: larger;
  }
}
/* About Styling */
/* mobile */
.aboutMe {
  padding: 1em;
}

/* tablet */
@media (min-width: 481px) {
  .aboutMe {
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
  }
}
/* tablet */
.patoPic img {
  border-radius: 20px;
}

@media (min-width: 481px) {
  .patoPic {
    display: flex;
    padding: 2em 1em 2em 2em;
    max-width: 448px;
    max-height: 620px;
  }
}
@media (min-width: 769px) {
  .patoPic {
    padding: 2em 1em 2em 2em;
    display: flex;
  }
}
/* desktop */
@media (min-width: 1025px) {
  .patoPic {
    max-width: 460px;
    max-height: 690px;
  }
}
.info {
  text-align: center;
  margin-top: 1em;
}

/* desktop */
@media (min-width: 769px) {
  .info {
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.paragraph {
  padding: 1em;
}

/* Work Styling */
.grid-container-gallery {
  padding: 2em;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 96%;
  grid-gap: 1em;
  overflow-x: auto;
  background: whitesmoke;
}

/* tablet */
@media (min-width: 700px) {
  .grid-container-gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
  }
}
/* desktop */
@media (min-width: 1025px) {
  .grid-container-gallery:hover {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
  }
}
.grid-gallery-element img {
  border-radius: 20px;
}

@media (min-width: 1025px) {
  .grid-gallery-element:hover {
    transform: scale(1.08);
    transition: all 0.5s;
  }
}
.bg-image {
  background-image: url(../imagenes/paleta.jpeg);
  padding: 5em;
  background-size: cover;
  background-position: 400px 400px;
}

.contact-container {
  padding: 2em;
}
.contact-container h1 {
  font-weight: bold;
  text-align: center;
}

@media (min-width: 769px) {
  h1 {
    margin-bottom: 70px;
  }
}
.tutorials {
  text-align: center;
}

@media (min-width: 769px) {
  .tutorials {
    padding: 1em;
    font-size: larger;
  }
}
iframe {
  padding: 1em;
  width: 90%;
  height: 50vh;
  margin-top: 4em;
}

video {
  height: 400px;
  width: 100%;
  margin-top: 4em;
  outline: solid 3px;
}

@media (min-width: 1025px) {
  .videoGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}/*# sourceMappingURL=estilos.css.map */